.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

li.sidebar-row a {
    color: darkred;
    font-size: 1.7em;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.color_red {
    color: red;
}

body {
    background: url('/static/img/cream_dust.png') repeat 0 0;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color: lightgrey;
    display: block;
}

.sidenav a:hover {
    color: lightslategrey;
}

.main {
    margin-left: 210px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav th, td {
    border-bottom: 1px solid #ddd;
}

.select-table {
    width: 50%;
    text-align: center;
}

table.center {
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

div.center {
    width:100%;
    margin-left: 15%;
    margin-right: 15%;
}

.select-table th, td {
    border-bottom: 3px solid #ddd;
}

.select-table td {
    font-size: 22px;
}

.column-select-table th, td {
    border-bottom: 3px solid black;
    border-collapse: collapse;
    border: 1px solid black;
}

.column-select-table td {
    font-size: 22px;
}

td.sub-btn-row {
    text-align: center;
}

tr.table-head {
    background: lightgrey;
}

.page-header {
    font-size: 30px;
    text-align: center;
}

.alert-success {
    margin-left: 200px;
}

.alert-danger {
    margin-left: 200px;
}

/*the container must be positioned relative:*/
.custom-select-alg {
  position: relative;
  font-family: Arial;
  background-color: lightgrey;
  width: 30%;
}

.custom-select-type {
  position: relative;
  font-family: Arial;
  background-color: lightgrey;
  width: 100%;
}
