.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

li.sidebar-row a {
    color: darkred;
    font-size: 1.7em;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background: url('/static/img/cream_dust.png') repeat 0 0;
}
