{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compare Data</title>
</head>
<body>
<div id="alert_placeholder"></div>
<div class="main">
    <p class="page-header">Compare Data</p>
    <!--<form action='/easyml/compare/compare-files' method='get'>!-->
        <h3>Files to Compare</h3>
        <table class="table-responsive">
            <tr>
            <td>
                <div id="compare_1">
                    <select class="base-select" id="first_select" name="first_file">
                        {% for file in valid_files %}
                            <option id="1:{{ file.id }}" value="{{ file.id }}">{{ file.display_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
                to
            </td>
            <td>
                <div id="compare_2">
                    <select class="base-select" id="second_select" name="second_file">
                        {% for file in valid_files %}
                            <option id="2:{{ file.id }}" value="{{ file.id }}">{{ file.display_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            </tr>
        </table>
        <hr>
        <h3>Column to Compare</h3>
        <div id="head_select_div">
            Column: <select class="base-select"></select>
        </div>
        <hr>
        <h3>Method</h3>
        <div id="method_div">
            <select class="base-select" name="method" id="method_select">
                <option id="Accuracy" selected>Accuracy [classification]</option>
                <option id="Correlation">Correlation [regression]</option>
            </select>
        </div>
        <div id="acc_div"></div>
        <hr>
        <!--<input class="btn btn-primary" type="submit" value="Submit">!-->
        <input class="btn btn-primary" type="button" id="submit_btn" value="Submit" onclick="getAccuracy()">
    <!--</form>!-->
</div>
</body>

<script>
    var HEADER_BASE_URL = '/restapi/get_file_headers/';
    var ACC_BASE_URL = '/restapi/get_accuracy/';
    var select_1_val = undefined;
    var select_2_val = undefined;
    var select_1_cols;

    function getAccuracy() {
        let ffid = select_1_val;
        let sfid = select_2_val;
        let header = $('#header_select').val();
        let method = $('#method_select').val();

        function showalert(message) {

            $('#alert_placeholder').append('<div id="alertdiv" class="alert alert-danger alert-dismissible"><button type="close" class="close" data-dismiss="alert">×</button><span>'+message+'</span></div>')

            setTimeout(function() { // this will automatically close the alert and remove this if the users doesnt close it in 5 secs
                $("#alertdiv").slideUp(200, function() {
                    $(this).alert('close');
                });
            }, 5000);
        }

        let api_url = ACC_BASE_URL + ffid + '&' + sfid + '&' + header + '&' + method;
        $.ajax({
            type: 'GET',
            url: api_url,
            success: function (res) {
                console.log(res);
                if (res.status_code !== 200) {
                    res.messages.forEach(element => {
                        showalert(element);
                    });
                }
                else {
                    let method_sm = res.method_sm;
                    let accuracy = res.accuracy;
                    let accuracy_type = res.accuracy_type;
                    let num_rows = res.num_rows;
                    if (accuracy && accuracy_type && method_sm && num_rows) {
                        let html_str = "<hr>";
                        html_str += "<h3>" + method_sm + "</h3>";
                        html_str += accuracy_type + ": " + accuracy + "<br>";
                        html_str += "Samples: " + num_rows;
                        $('#acc_div').html(html_str);
                    }
                }
            },
            error: function (error) {
                callbackErr(error, self)
            }
        });
    }

    $(document).ready(function(){
        select_1_val = $('#first_select').val();
        select_2_val = $('#second_select').val();
        $("#second_select option[value='"+ select_1_val + "']").attr('disabled', true).siblings().removeAttr('disabled');

        if (select_1_val === select_2_val) {
            $("#second_select > option").each(function() {
                if ($(this).val() !== select_1_val) {
                    select_2_val = $(this).val();
                    $('#second_select').val(select_2_val);
                    return false;
                }
            });
        }

        $.get(HEADER_BASE_URL + select_1_val, function(response){
            var selectList = "Column: <select name='header' id='header_select' class='base-select'>";
            let headers = response.headers;
            $(headers).each(function(){
                selectList += "<option value='" + this + "'>" + this + "</option>";
            });
            selectList += "</select>";
            $('#head_select_div').html(selectList);
        });
    });

    $("#first_select").change(function(){
        select_1_cols = [];
        select_1_val = $("#first_select").val();
        $("#second_select option[value='"+ select_1_val + "']").attr('disabled', true).siblings().removeAttr('disabled');

        if (select_1_val === select_2_val) {
            $("#second_select > option").each(function() {
                if ($(this).val() !== select_1_val) {
                    select_2_val = $(this).val();
                    $('#second_select').val(select_2_val);
                    return false;
                }
            });
        }

        $.get(HEADER_BASE_URL + select_1_val, function(response){
            var selectList = "Column: <select name='header' id='header_select' class='base-select'>";

            let headers = response.headers;
            $(headers).each(function(){
                selectList += "<option value='" + this + "'>" + this + "</option>";
            });
            selectList += "</select>";
            $('#head_select_div').html(selectList);
        });
    });

     $("#second_select").change(function(){
        select_2_val = $("#second_select").val();
    });
</script>
{% endblock %}