{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compare Data</title>
</head>
<body>
<div class="main">
    <p class="page-header">Compare Data</p>
    <form action='/easyml/compare/compare-files' method='get'>
    {% csrf_token %}
        <h3>Files to Compare</h3>
        <table class="table-responsive">
            <tr>
            <td>
                <div id="compare_1">
                    <select class="base-select" id="first_select" name="first_file">
                        {% for file in valid_files %}
                            <option id="1:{{ file.id }}" value="{{ file.id }}">{{ file.display_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
                to
            </td>
            <td>
                <div id="compare_2">
                    <select class="base-select" id="second_select" name="second_file">
                        {% for file in valid_files %}
                            <option id="2:{{ file.id }}" value="{{ file.id }}">{{ file.display_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            </tr>
        </table>
        <hr>
        <h3>Column to Compare</h3>
        <div id="head_select_div">
            Column: <select class="base-select"></select>
        </div>
        <hr>
        <h3>Method</h3>
        <div id="method_div">
            <select class="base-select" name="method">
                <option id="accuracy" selected>Accuracy [classification]</option>
                <option id="correlation">Correlation [regression]</option>
            </select>
        </div>
        {% if accuracy and accuracy_type %}
            <hr>
            <h3>{{ method }}</h3>
            <div id="accuracy_div">
                {{ accuracy_type }}: {{ accuracy }}<br>
                Samples: {{ num_rows }}
            </div>
        {% endif %}
        <hr>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
</body>

<script>
    var BASE_URL = '/restapi/get_file_headers/';
    var select_1_val = undefined;
    var select_2_val = undefined;
    var select_1_cols;

    $(document).ready(function(){
        select_1_val = $('#first_select').val();
        select_2_val = $('#second_select').val();
        $("#second_select option[value='"+ select_1_val + "']").attr('disabled', true).siblings().removeAttr('disabled');

        if (select_1_val === select_2_val) {
            $("#second_select > option").each(function() {
                if ($(this).val() !== select_1_val) {
                    select_2_val = $(this).val();
                    $('#second_select').val(select_2_val);
                    return false;
                }
            });
        }
        //$("#first_select option[value='"+ select_2_val + "']").attr('disabled', true).siblings().removeAttr('disabled');

        $.get(BASE_URL + select_1_val, function(response){
            var selectList = "Column: <select name='header' class='base-select'>";

            let headers = response.headers;
            $(headers).each(function(){
                selectList += "<option>" + this + "</option>";
            });
            selectList += "</select>";
            $('#head_select_div').html(selectList);
        });
    });

    $("#first_select").change(function(){
        select_1_cols = [];
        select_1_val = $("#first_select").val();
        $("#second_select option[value='"+ select_1_val + "']").attr('disabled', true).siblings().removeAttr('disabled');

        if (select_1_val === select_2_val) {
            $("#second_select > option").each(function() {
                if ($(this).val() !== select_1_val) {
                    select_2_val = $(this).val();
                    $('#second_select').val(select_2_val);
                    return false;
                }
            });
        }

        $.get(BASE_URL + select_1_val, function(response){
            var selectList = "Column: <select name='header' class='base-select'>";

            let headers = response.headers;
            $(headers).each(function(){
                selectList += "<option>" + this + "</option>";
            });
            selectList += "</select>";
            $('#head_select_div').html(selectList);
        });
    });

     $("#second_select").change(function(){
        select_2_val = $("#second_select").val();
        //$("#first_select option[value='"+ select_2_val + "']").attr('disabled', true).siblings().removeAttr('disabled');
    });
</script>
{% endblock %}