{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <body>
    <div class="main">
        <p class="page-header">Welcome to EasyML</p>

        <p>Get started by uploading data and training a model, then simply use that model on any dataset of your choice!</p>
    </div>
  </body>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Sign in</a> |
    <a href="{% url 'signup' %}">Sign up</a>
{% endif %}
{% endblock %}