{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Data</title>
</head>
<body>
<div class="main">
    <p class="page-header">Manage Data</p>
    <ul>
    {% if valid_files %}
        <table class="select-table table-striped center">
        <tr>
            <td><strong>Filename</strong></td>
            <td></td>
            <td></td>
        </tr>
            {% for file in valid_files %}
                <tr>
                    <form action="rename-file/" method="post">
                    {% csrf_token %}
                        <input type="text" name="file_id" value="{{ file.id }}" hidden>
                        <td><input type="text" name="display_name" value="{{ file.display_name }}"></td>
                        <td><input class="btn btn-primary" type="submit" value="Rename"></td>
                        <td><a class="btn btn-danger" href="{% url 'delete_file' file.id %}">Delete</a></td>
                    </form>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        You have not uploaded any data yet.
    {% endif %}
    </ul>
</div>
</body>
{% endblock %}