{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Data</title>
</head>
<body>
<div class="main">
<h2>Manage Data</h2>
<ul>
    {% for file in valid_files %}
        <form action="rename-file/" method="post">
        {% csrf_token %}
            <li><input type="text" name="display_name" value="{{ file.display_name }}"></li>
            <input type="text" name="file_id" value="{{ file.id }}" hidden>
            <a class="btn btn-danger" href="{% url 'delete_file' file.id %}">Delete</a> <input class="btn btn-primary" type="submit" value="Rename">
        </form>
        <hr>
    {% endfor %}
</ul>
</div>

<a href="{% url 'home' %}" class="fa fa-home">Home</a>

</body>
{% endblock %}