<!DOCTYPE html>
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Columns</title>
</head>
<body>
    <form action="/easyml/train/setup/create-data/" method="post">
    {% csrf_token %}
    <input type="text" name="file_id" value="{{ file_id }}" hidden>
    <table>
        <tr>
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
        </tr>
        <tr>
            {% for header in headers %}
            <th>
                <select name="{{ header }}">
                  <option value="ignore">Ignore</option>
                  <option value="input">Input</option>
                  <option value="target">Target</option>
                </select>
            </th>
        {% endfor %}
        </tr>
    </table>
    <hr>
    <h4>Algorithm: </h4>
    <select class="align-r" name="algorithm">
        <option value="1">Linear Regression</option>
        <option value="2">Logistic Regression</option>
        <option value="3">Linear Discriminant Analysis</option>
        <option value="4">Regression Trees</option>
        <option value="5">Naive Bayes</option>
        <option value="6">Random Forest</option>
        <option value="7">K Nearest Neighbors</option>
        <option value="8">Support Vector Machines</option>
        <option value="9">Nearest Centroid</option>
    </select>
    <br>
    <hr>
    <input class="btn btn-success" type="submit" value="Submit">
    </form>
<table style="height:100px">
    <td class="align-bottom"><a href="{% url 'home' %}">Home</a></td>
</table>

</body>
</html>