<!DOCTYPE html>
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Data</title>
</head>
<body>
<h3>{{ title }}{{ action }}</h3>
<br>
<ul>
    {% for file in valid_files %}
        <form action="{% url form_action %}" method="post">
            {% csrf_token %}
            <li>{{ file.display_name }}</li>
            <input type="text" name="file_id" value="{{ file.id }}" hidden>
            <input class="btn btn-success" type="submit" value="Select">
        </form>
        <hr>
    {% endfor %}
</ul>

<a href="{% url 'home' %}">Home</a>

</body>
</html>