{% extends 'base.html' %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select File</title>
</head>
<div class="main">
<body>
<h3>{{ title }}{{ action }}</h3>
<br>
<ul>
    {% for file in valid_files %}
        <form action="{% url form_action %}" method="post">
            {% csrf_token %}
            <li>{{ file.display_name }}</li>
            <input type="text" name="file_id" value="{{ file.id }}" hidden>
            <input class="btn btn-primary" type="submit" value="Select">
        </form>
        <hr>
    {% endfor %}
</ul>
</div>

<a href="{% url 'home' %}" class="fa fa-home">Home</a>

</body>
{% endblock %}