{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Model</title>
</head>
<body>
<div class="main">
    <h3>Select model</h3>
    <form action="{% url "select_columns_and_alg" %}" method="post">
        {% csrf_token %}
        <select name="model_select">
            {% for model in valid_models %}
                <option value="{{ model.id }}">{{ model.display_name }}</option>
            {% endfor %}
        </select>
        <br>
        <hr>
        <h3>Select input file</h3>

        <table>
            <tr>
                <select name="file_select">
                    {% for file in valid_files %}
                        <option value="{{ file.id }}">{{ file.display_name }}</option>
                    {% endfor %}
                </select>
            </tr>
            <tr> or </tr>
            <tr>
                <form action="{% url "upload_csv" %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </tr>
        </table>

        <hr>

        <button type="submit" class="btn btn-success">Next Step</button>
    </form>
</div>
<br>
</body>
{% endblock %}