<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<link rel="stylesheet" href="{% static "css/styles.css" %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Columns</title>
</head>
<body>
    <form action="/easyml/train/setup/create-data/" method="post">
    {% csrf_token %}
    <input type="text" name="file_id" value="{{ file_id }}" hidden>
    <table>
        <tr>
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
        </tr>
        <tr>
            {% for header in headers %}
            <th>
                <select name="{{ header }}">
                  <option value="ignore">Ignore</option>
                  <option value="input">Input</option>
                  <option value="target">Target</option>
                </select>
            </th>
        {% endfor %}
        </tr>
    </table>
    <hr>
    <h4>Algorithm: </h4>
    <select class="align-r" name="algorithm">
    {%  for alg in algorithms %}
        <option value="{{ alg.num }}">{{ alg.name }}</option>
    {% endfor %}
    </select>
    <br>
    <hr>
    <input class="btn btn-success" type="submit" value="Submit">
    </form>
    <!--<img src="/easyml/data/render-plot/">!-->
    <img src="data:image/png;base64,{{ graphic }}" class="img-center"/>
<table style="height:100px">
    <td class="align-bottom"><a href="{% url 'home' %}">Home</a></td>
</table>

</body>
</html>