{% extends 'base.html' %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select File</title>
</head>
<body>
<div class="main">
<p class="page-header">{{ title }}{{ action }}</p>
<br>
<ul>
    {% for file in valid_files %}
        <form action="{% url form_action %}" method="post">
            {% csrf_token %}
            <li>{{ file.display_name }}</li>
            <input type="text" name="file_id" value="{{ file.id }}" hidden>
            <input class="btn btn-primary" type="submit" value="Select">
        </form>
        <hr>
    {% endfor %}
</ul>

</div>
</body>
{% endblock %}