<!DOCTYPE html>
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Model</title>
</head>
<body>
<h3>Select model for predictions</h3>
<br>
<ul>
    {% for model in valid_models %}
        <form action="/easyml/" method="post">
            {% csrf_token %}
            <li>{{ model.display_name }}</li>
            <input type="text" name="model_id" value="{{ model.id }}" hidden>
            <input class="btn btn-success" type="submit" value="Select">
        </form>
        <hr>
    {% endfor %}
</ul>

<a href="{% url 'home' %}">Home</a>

</body>
</html>