<!DOCTYPE html>
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Model</title>
</head>
<body>
    <h3>Select model</h3>

    <select>
        {% for model in valid_models %}
            <option value="{{ model.id }}">{{ model.display_name }}</option>
        {% endfor %}
    </select>
    <br>
    <hr>
    <h3>Select input file</h3>

    <table style="width:100%">
        <tr>
            <select>
                {% for file in valid_files %}
                    <option value="{{ file.id }}">{{ file.display_name }}</option>
                {% endfor %}
            </select>
        </tr>
        <tr> or </tr>
        <tr>
            <form action="{% url "upload_csv" %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </tr>

    </table>


<a href="{% url 'home' %}">Home</a>

</body>
</html>