{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Columns</title>
</head>
<body>
<div class="main">
<p class="page-header">Select Columns</p>
    <form action="/easyml/predict/run-model/" method="post">
    {% csrf_token %}
    <input type="text" name="file_id" value="{{ file_id }}" hidden>
    <table class="column-select-table center">
        <tr style="background-color: black; line-height: 30px">
        {% for header in headers %}
            <th style="color: lightgrey">{{ header }}</th>
        {% endfor %}
        </tr>
        <tr>
            {% for header in headers %}
            <th>
                <select class="custom-select" name="{{ header }}">
                  <option value="ignore">Ignore</option>
                  <option value="input">Input</option>
                  <option value="target">Target</option>
                </select>
            </th>
        {% endfor %}
        </tr>
    </table>
    <hr>
    <h4>Select Model: </h4>
    <select class="align-r custom-select" name="model_select">
        {% for model in valid_models %}
            <option value="{{ model.id }}">{{ model.display_name }}</option>
        {% endfor %}
    </select>
    <br>
    <hr>
    <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
</body>
{% endblock %}
